/*contacts*/
input,
select {
  border-radius: 0px;
}

.booking-form,
.query-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.booking-form select,
.booking-form input,
.query-form input,
.query-form textarea {
  margin-bottom: 15px;
  font-size: 1rem;
  font-weight: 500;
  padding: 5px;
  border: 1px solid black;
}

.booking-form input[type="submit"],
.query-form input[type="submit"] {
  border: 3px solid var(--orange);
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select {
  background: white;
  width: fit-content;
}

.booking-form input[type="date"] {
  width: fit-content;
}

.query-form textarea {
  min-height: 120px;
  resize: none;
}

.booking-form input[type="number"] {
  width: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*party tool tip*/
[data-tool-tip] {
  position: relative;
  bottom: 2px;
  cursor: pointer;
  font-size: 0.8rem;
  background-color: white;
  padding: 2px 6px;
  border-radius: 50%;
  border: 2px solid var(--black);
  margin-left: 5px;
}

[data-tool-tip]::after {
  content: attr(data-tool-tip);
  font-size: 0.7rem;
  position: absolute;
  background: var(--grey);
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 0.9rem;
  bottom: 120%;
  left: 50%;
  width: 160px;
  display: none;
  box-shadow: 5px 5px 3px var(--black);
}

[data-tool-tip]:hover::after {
  display: block;
}
