@media only screen and (min-width: 550px) {
  /*heading adjustments*/
  .header-medium-size {
    position: relative;
    bottom: 10vw;
  }
}

@media only screen and (min-width: 650px) {
  /*heading adjustments*/
  .header-medium-size {
    bottom: 26vw;
  }
}

@media only screen and (min-width: 1300px) {
  /*sub-heading adjustments*/
  .sub-heading-image img {
    object-position: 0 -50px;
  }
}
