/* colors */
:root {
  --black: #000000;
  --grey: #e6e6e6;
  --orange: #ef4d1d;
  --purple: #4e11bf;

  --nav-links: 1.25rem;

  --h1: 2rem;
  --h2: 1.75rem;
}

/*
Font Sizes:
10px = 0.625rem
12px = 0.75rem      captions sorting
14px = 0.875rem 
16px = 1rem         (base) regular (400) - body, medium (500) - subhead 2
18px = 1.125rem     medium (500)- buttons + subhead 1
20px = 1.25rem      medium (500)- page header
24px = 1.5rem       medium (500)- home pic caption text
30px = 1.875rem
32px = 2rem         regular (400) - picture headers

*/

body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

h3 {
  color: var(--black);
  font-size: 1.5rem;
  font-weight: 700;
}

h1 {
  font-size: var(--h1);
  font-weight: 600;
  margin-bottom: 0;
}

footer h2,
main h2 {
  font-size: var(--h2);
  font-weight: 700;
}

h1,
h2,
footer {
  color: var(--grey);
}

footer,
header {
  background: var(--black);
  width: 100%;
}

header {
  height: 95px;
}

p a {
  text-decoration: none;
  color: var(--purple);
}

p a:hover {
  text-decoration: underline;
}

li a {
  position: relative;
}

li a::before {
  content: "";
  width: 1%;
  height: 2px;
  background-color: var(--black);
  position: absolute;
  left: 0;
  bottom: 1px;
}

li a:hover:before {
  width: 100%;
  background-color: var(--grey);
  transition: 0.5s;
}

footer img,
header img,
header a,
footer a {
  text-decoration: none;
  color: var(--grey);
  font-size: var(--nav-links);
}

.cta {
  font-size: 1.25rem;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: white;
}

.page-wrapper {
  max-width: 1300px;
  width: 90%;
  margin: 0 auto;
}

/*navigation bar*/
.header-bar {
  width: 100%;
  height: 10px;
  background: var(--grey);
}

.logo-nav {
  display: flex;
  align-items: center;
}

.logo-text {
  display: flex;
  flex-direction: column;
  color: var(--grey);
}

.logo-img img {
  width: 90px;
  margin-left: 0;
  padding-left: 0;
}

.main-navigation {
  height: 100%;
}

.main-navigation label {
  align-items: center;
}

.menu-mobile {
  height: 50px;
  margin: 20px 10px 20px 10px;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

nav ul {
  display: none;
  position: absolute;
  margin-top: 0px;
  left: 0px;
  padding-left: 0;
}

nav ul li ul {
  display: none;
  position: relative;
}

nav ul li {
  padding: 10px 30px;
}

header input {
  display: none;
}

.menu-mobile-close {
  display: none;
}

#menu-drop-down:checked ~ ul li ul,
#menu-drop-down:checked ~ ul {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--black);
  z-index: 1000;
}

#menu-drop-down:checked + .menu-mobile-close {
  display: block;
}

#menu-drop-down:checked + .menu-mobile {
  display: none;
}

ul li div a {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: fit-content;
}

/*Footer*/

footer address {
  font-style: normal;
}

footer ul {
  margin: 0 0 20px 0;
  padding: 0;
}

footer ul li {
  list-style-type: none;
  margin: 0;
}

footer label,
footer h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.copyright {
  justify-content: center;
  margin: auto;
  display: flex;
  flex-direction: row;
}

.copyright-text {
  display: flex;
  flex-direction: column;
}

.copyright-symbol {
  font-size: 2.25rem;
  margin-right: 10px;
}

footer ul,
footer form {
  margin-top: 19.92px;
}

.footer-details ul {
  margin-top: 10px;
  margin-left: 0;
}

footer input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  margin: 0;
  opacity: 1; /*stops faded appearance*/
}

.input-container {
  display: block;
  position: relative;
  width: 90%;
  max-width: 400px;
  height: 100%;
  background-color: var(--grey);
  padding: 0;
  border-radius: 5px;
  height: 40px;
  margin: 10px 0 0 0;
  border: none;
}

.email-input {
  height: 100%;
  width: 100%;
  background-color: transparent;
  padding: 0px 5px;
  border: none;
  outline: none;
}

/*button stylings*/

.cta {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 0px;
  width: 100px;
  background: var(--purple);
  border-radius: 5px;
  margin: 0 auto;
  border: 3px solid var(--purple);
  color: var(--grey);
}

.cta-orange {
  background: var(--orange);
  border: 3px solid var(--orange);
}

.submit-button {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  width: 120px;
}

.cta:hover {
  background: var(--grey);
  color: var(--purple);
  transition: 0.8s;
}

.cta-orange:hover {
  color: var(--orange);
}

/*heading template*/

.heading-background {
  background: var(--black);
  display: cover;
  height: fit-content;
}

.heading-background h2,
.heading-background h1 {
  margin: 0 0 20px 0;
  padding: 20px 0px;
}

.sub-heading-image img,
.heading-image img {
  width: 100%;
}

.heading-container {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.sub-heading-container {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

.heading-overlay {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
}

.heading-text {
  width: 100%;
  z-index: 10;
  text-align: center;
}

/*cards*/
.card-item-nohover,
.card-item {
  background: var(--grey);
  padding: 15px;
  margin: 20px 0;
  border-radius: 5px;
  box-shadow: 5px 5px 5px var(--black);
}

.card-item-grid {
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-between;
}

.card-item-nohover img,
.card-item img {
  width: 100%;
}

.card-item-nohover h3,
.card-item h3 {
  margin-top: 0;
}

.card-item:hover {
  box-shadow: 15px 15px 5px var(--black);
  margin: 10px 10px 30px -10px;
  transition: 0.5s;
}

/*stops hover wobble from margin cascade*/
.card-layout-grid-double,
.card-layout-grid {
  display: grid;
  gap: 20px;
}

.card-double-button {
  display: flex;
  justify-content: space-between;
}

/*exhibits page*/

.heading-text-exhibits h1 {
  margin-bottom: 0;
}
.exhibits-grid {
  background-color: var(--black);
  height: fit-content;
}

.exhibits-grid p {
  color: var(--grey);
}

.exhibits-images {
  position: relative;
  overflow: hidden;
  max-height: 350px;
}

.exhibits-images img {
  width: 100%;
}

.exhibits-image-overlay {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
}

.bottom-overlay {
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 100%);
}

.exhibits-text {
  max-width: 500px;
}

@media only screen and (min-width: 600px) {
  .logo-img img {
    width: 15vw;
    max-width: 140px;
  }

  header {
    height: fit-content;
  }

  .logo-text {
    font-size: 3.1vw;
  }

  .card-layout-grid-double,
  .card-layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 700px) {
}

@media only screen and (min-width: 875px) {
  :root {
    --h1: 3.75rem;
    --h2: 3.125rem;
  }

  /*heading template*/
  .heading-container {
    max-height: 500px;
  }

  .sub-heading-container {
    max-height: 400px;
  }

  .heading-overlay {
    top: 0%;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(-0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
  }

  .heading-wrapper {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .sub-heading-image,
  .heading-image {
    flex: 2;
    width: 66.67vw;
    max-width: 800px;
    position: relative;
    height: 500px;
  }

  .sub-heading-image {
    height: 300px;
  }

  .heading-image img {
    position: absolute;
    bottom: 0%;
    width: 79vw;
    max-width: 800px;
  }

  .heading-text {
    flex: 1;
    max-width: 400px;
    display: flex;
    align-items: center;
    margin-left: 40px;
  }

  header label {
    display: none;
  }

  /*fix drop down when expanding to desktop*/
  #menu-drop-down:checked ~ ul,
  nav ul,
  nav ul div {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 0px;
    left: 0px;
    padding-left: 0;
  }

  .main-navigation {
    width: 80%;
  }

  nav ul {
    justify-content: center;
  }
  nav ul li:nth-last-of-type(3),
  nav ul li:nth-last-of-type(7) {
    margin-left: auto;
  }

  nav ul li {
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    padding: 10px 10px 3px 10px;
    margin-bottom: 10px;
  }

  .drop-down-hover-content {
    display: none;
  }

  .drop-down-hover {
    position: relative;
  }

  .drop-down-hover:hover .drop-down-hover-content {
    display: block;
    position: absolute;
    background-color: var(--black);
    width: fit-content;
    white-space: nowrap;
    z-index: 10;
  }

  .logo-text {
    font-size: 1.7rem;
  }

  .footer-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .footer-social,
  .footer-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  footer ul {
    margin-left: 20px;
  }
}

@media only screen and (min-width: 905px) {
  .header-wrapper {
    max-width: 1300px;
    margin: 0 auto;
  }

  .card-layout-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .exhibits-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .bottom-overlay {
    background: linear-gradient(-0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.2) 90%, rgba(0, 0, 0, 1) 100%);
  }

  .exhibits-image-overlay {
    background: linear-gradient(-0.25turn, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.2) 10%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
  }

  .exhibits-images {
    position: relative;
    overflow: hidden;
    max-height: fit-content;
  }

  .exhibits-images img {
    position: absolute;
    display: block;
    width: auto;
    height: 100%;
    margin: auto;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

  .exhibits-text {
    min-height: 450px;
  }

  .exhibits-background {
    width: 100%;
    background-color: var(--black);
  }

  .exhibits-wrapper {
    max-width: 1920px;
    margin: 0 auto;
  }
}
