:root {
  /*colour pallet*/
  --black: #000000;
  --grey: #e6e6e6;
  --orange: #ef4d1d;
  --purple: #4e11bf;

  /*fonts and sizes*/
  --h1: normal 600 2rem "Outfit", sans-serif;
  --h2: normal 700 1.75rem "Outfit", sans-serif;
  --h3: normal 700 1.5rem "Outfit", sans-serif;
  --body: normal 500 1rem "Outfit", sans-serif;
  --cta: normal 700 1.25rem "Lato", sans-serif;

  /*other stuff for general use*/
}

body {
  margin: 0;
  font: var(--body);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-x: hidden;
}

h3 {
  color: var(--black);
  font: var(--h3);
}

h1 {
  font: var(--h1);
  margin-bottom: 0;
}

footer h2,
main h2 {
  font: var(--h2);
}

h1,
h2,
footer {
  color: var(--grey);
}

footer,
header {
  background: var(--black);
  width: 100%;
}

header {
  height: 95px;
  position: fixed;
  z-index: 1000;
}

main {
  margin-top: 95px;
}

p a {
  text-decoration: none;
  color: var(--purple);
}

p a:hover {
  text-decoration: underline;
}

.email-involved {
  display: block;
  margin-top: 20px;
}

footer img,
header img,
header a,
footer a {
  text-decoration: none;
  color: var(--grey);
  font-size: 1.25rem;
}

.cta {
  font:var(--cta)
  color: white;
}

.page-wrapper-small,
.page-wrapper {
  max-width: 1400px;
  width: 90%;
  margin: 0 auto;
}

.page-wrapper-small {
  max-width: 900px;
}

.header-full-size {
  display: none;
}

/*button stylings*/

.cta {
  font-family: "Lato", sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 6px 0px;
  width: 100px;
  background: var(--purple);
  border-radius: 5px;
  margin: 0 auto;
  border: 3px solid var(--purple);
  color: var(--grey);
}

.cta-orange {
  background: var(--orange);
  border: 3px solid var(--orange);
}

.submit-button {
  position: absolute;
  top: 0%;
  right: 0%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  width: 120px;
}

.cta:hover {
  background: var(--grey);
  color: var(--purple);
  transition: 0.8s;
}

.cta-orange:hover {
  color: var(--orange);
}

/*heading template*/

.heading-background {
  background: var(--black);
}

.heading-background h2,
.heading-background h1 {
  margin: 0 0 20px 0;
  padding: 20px 0px;
}

.sub-heading-image img,
.heading-image img {
  width: 100%;
}

.heading-container {
  position: relative;
  max-height: 400px;
  overflow: hidden;
}

.sub-heading-container {
  position: relative;
  max-height: 300px;
  overflow: hidden;
}

.heading-overlay {
  top: 0%;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 1) 100%);
}

.heading-text {
  width: 100%;
  z-index: 10;
  text-align: center;
}

/*cards*/
.card-item-nohover,
.card-item {
  background: var(--grey);
  padding: 15px;
  margin: 20px 0;
  border-radius: 3px;
  box-shadow: 0px 0px 5px var(--black);
}

.card-item-grid {
  display: grid;
  grid-template-rows: auto auto;
  align-content: space-between;
}

.card-item-nohover img,
.card-item img {
  width: 100%;
}

.card-item-nohover h3,
.card-item h3 {
  margin-top: 0;
}

.card-item:hover {
  box-shadow: 10px 10px 3px var(--black);
  margin: 10px 10px 30px -10px;
  transition: 0.5s;
}

/*stops hover wobble from margin cascade*/
.card-layout-grid-double,
.card-layout-grid {
  display: grid;
  gap: 0px;
}

.card-double-button {
  display: flex;
  justify-content: space-between;
}
